body {
    margin: 0;
}

.content {
    width: 75%;
    margin: auto;
}

.scroll-x-card-list {
    overflow-x: scroll;
    width: 100%;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    border: solid #808080;
}

.card {
    height: 300px;
    width: auto;
}

.header {
    z-index: 100;
    display: flex;
    position: sticky;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #c4c4c4;
    margin: 0;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
}

.hidden-anchor {
    text-decoration: none;
}

.header-title {
    color: black;
    font-size: 2em;
}

#background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
}

@media (min-aspect-ratio: 1/1) {
    #background-canvas {
        height: auto;
        width: 100vw;
    }
}

@media (max-aspect-ratio: 1/1) {
    #background-canvas {
        height: 100vh;
        width: auto;
    }
}